.modal {
    display: flex; 
    position: absolute;
    top: 0;
    left: 0; /* Garante que o modal comece do lado esquerdo */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box; /* Evita que padding/border afetem a largura total */
}

.header-modal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0; /* Garante alinhamento à esquerda */
    width: 100%;
    height: 45%;
    background-color: white;
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px;
    max-width: 100vw; /* Limita a largura à tela */
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

#location-modal {
    border: solid 1px black;
}

.location{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;
}

#guests-modal {
    display: flex;
    flex-direction: column;
}
.guests{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;

}

.modal-content {
    background: #fff;
    padding: 0px 20px 23px 20px;
    border-radius: 16px;
    width: 450px;
    height: 30px;
    font-family: "Mulish", sans-serif;
    border: solid 1px transparent;
  }
  
  .modal-content.active-border {
    border: solid 1px black;
  }
.tittles-input{
    font-weight: 800;
    font-size: 10px;
}
.buttonSearch{
    display: flex;
    justify-content: center;
    padding: 3px 0px 3px 0px;
    border-radius: 16px;
    height: 47px;
    width: 400px;
}
.buttonSearch button{
    background-color: #EB5757;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 100%;
    border-radius: 16px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
}
.buttonSearch img{
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 5px;
}
.modal-content ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.modal-content ul li {
    padding: 10px;
    cursor: pointer;
    color: #4F4F4F;
    transition: background-color 0.3s ease; 
    font-size: 16px;
}
.modal-content ul li:hover{
    background-color: rgb(197, 197, 197);
}
.modal-content img{
    width: 14px;
    height: 19.47px;
    position: relative;
    top: 4px;
    padding: 0px 5px 0px 0px;
}
.guest-counter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px 20px 0px; 
    font-size: 16px;
}
.subTitle-guest{
    font-weight: 650;
}
.age-info{
    color: #BDBDBD; 
    margin: 0px 0px 15px 0px;
}

.guest-counter button {
    border: 1px solid #828282;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    width: 23px;
    height: 23px;
    color: #828282;
    font-size: 20px;
    padding: 0px;
}
.count-person{
    padding: 0px 15px 0px 15px;
    font-weight: 650;
}

/* Media query para telas menores */
@media (max-width: 1024px) {
    .header-modal{
        height: 45%;
    }
}
@media (max-width: 768px) {
    .header-modal{
        height: 60%;
    }
}
@media (max-width: 640px) {
    .header-modal{
        height: 70%;
    }
}
@media (max-width: 375px) {
    .header-modal{
        height: 40%;
        #modalCompleteLocation{
            width: 35%;
        }
        #modalCompleteGuest{
            width: 25%;
        }
        span{
            font-size: 12px;
        }
        ul li{
            font-size: 10px;
        }
        .buttonSearch{
            position: relative;
            width: 10px;
            button{
                font-size: 10px;
            }
        }
    }
}