body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    position: relative;
    width: 69px;
    height: 14px;
    left: 55px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: none;
    width: 297px;
    height: 55px;
    position: relative;
    right: 70px;
    border-radius: 16px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    height: 33.5px; /* Definindo a altura para 100% */

}
.country{
    width: 120px;
    border-radius: 16px 0px 0px 16px;
    font-family: "Mulish", sans-serif;
}
.numberPeople{
    width: 70px;
    font-family: "Mulish", sans-serif;
}
.search-bar{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.search-bar button {
    padding: 10px;
    border: solid #ddd 1px;
    background-color: #ffffff;
    color: #fff;
    border-radius: 0px 16px 16px 0px;
    cursor: pointer;
}
.search-bar button img{
    width: 41px;
    height: 30px;
}

main {
    padding: 20px;
}

.stays {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.stay-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stay-item {
    width: calc(33.333% - 20px);
    background-color: #fff;
    border: none; /* solid 1px black */
    overflow: hidden;
}

.stay-item img {
    width: 100%;
    height: 242.484px;
    border-radius: 20px;
    object-fit: cover; /* ajusta a imagem para preencher o contêiner */
    object-position: center; /* centraliza a imagem verticalmente */
}
.smallPicture{
    position: relative;
}

.stay-info {
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}
.rating img{
    position: relative;
    width: 15px;
    height: 15px;
    top: 1px;
    padding: 6px 0px 0px 0px;
    margin-right: 5px;
}

.stay-info .text{
    color: #828282;
    padding: 6px 0px 6px 0px;
    font-size: 14px;
}
.stay-info p{
    color: #333333;
}
.description{
    font-size: 16px;
}
.super-host {
    font-weight: bold;
    color: #4F4F4F;
    border: solid 1px #4F4F4F;
    border-radius: 10px;
    padding: 6px 6px 6px 6px;
    font-size: 12px;
}

.rating {
    color: #4F4F4F;
}

.modal {
    display: flex; /* Cambiado de 'none' a 'flex' */
    position: fixed;
    top: 0px; /* Adjust as needed */
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    gap: 0px;
}
.header-modal{
    display: flex;
    position: fixed;
    top: 0px; /* Adjust as needed */
    width: 94.2%;
    height: 45%;
    background-color: white;
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px;
}
#location-modal {
    border: solid 1px black;
}

.location{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;
}

#guests-modal {
    display: flex;
    flex-direction: column;
}
.guests{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;

}

.modal-content {
    background: #fff;
    padding: 0px 20px 23px 20px;
    border-radius: 16px;
    width: 450px;
    height: 30px;
    font-family: "Mulish", sans-serif;
    border: solid 1px transparent; /* Borde transparente por defecto */
  }
  
  .modal-content.active-border {
    border: solid 1px black; /* Borde negro cuando está activo */
  }
.tittles-input{
    font-weight: 800;
    font-size: 10px;
}
.buttonSearch{
    display: flex;
    justify-content: center;
    padding: 3px 0px 3px 0px;
    border-radius: 16px;
    height: 47px;
    width: 400px;
}
.buttonSearch button{
    background-color: #EB5757;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 100%;
    border-radius: 16px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
}
.buttonSearch img{
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 5px;
}
.modal-content ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.modal-content ul li {
    padding: 10px;
    cursor: pointer;
    color: #4F4F4F;
    transition: background-color 0.3s ease; /* Para suavizar a transição do background */
    font-size: 16px;
}
.modal-content ul li:hover{
    background-color: rgb(197, 197, 197);
}
.modal-content img{
    width: 14px;
    height: 19.47px;
    position: relative;
    top: 4px;
    padding: 0px 5px 0px 0px;
}
.guest-counter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px 20px 0px; /* Espaçamento entre os contadores */
    font-size: 16px;
}
.subTitle-guest{
    font-weight: 650;
}
.age-info{
    color: #BDBDBD; /* Cor dos spans específicos */
    margin: 0px 0px 15px 0px;
}

.guest-counter button {
    border: 1px solid #828282;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    width: 23px;
    height: 23px;
    color: #828282;
    font-size: 20px;
    padding: 0px;
}
.count-person{
    padding: 0px 15px 0px 15px;
    font-weight: 650;
}
.no-results-message {
  text-align: center;
  font-size: 18px;
  color: #ff0000;
  font-weight: bold;
  margin-top: 20px;
}
